* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: rgb(251, 254, 205);
}

.High {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/spirit-world-avatar.jpg);
    background-size: cover;

}



.cycle-avatar {
    height: 100vh;
    width: 100vw;
    display: flex;

    text-align: center;
    background-color: black;

}

.cycle-avatar div {
    height: 100vh;
    width: 50vw;
}

.txt-cycle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
}



.cycle-img {
    background-image: url(assets/cicloBlack.jpg);
   
    background-position: center;
    background-size: contain;

}






.latest-avatars {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.box-card {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.card {
    height: 100%;
    width: 25%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s ease;
}



.kyoshi-card {
    background-image: url(assets/KyoshiCard.jpg);


}

.roku-card {
    background-image: url(assets/RokuCard.jpg);
}

.aang-card {
    background-image: url(assets/AangCard\ .jpg);
}

.korra-card {
    background-image: url(assets/korracard.jpg);
}

.origin {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.element{
    background-color: antiquewhite;
    width: 20vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.earth-card{
    background-color: rgb(0, 100, 0);
    border: 5px solid rgb(0, 100, 0);
}
.fire-card{
    background-color: rgb(100, 0, 0);
    border: 5px solid rgb(100, 0, 0);
}

.air-card{
    background-color: rgb(150, 150, 150);
    border: 5px solid rgb(150, 150, 150);

}
.water-card{
    background-color: rgb(0, 0, 100);
    border: 5px solid  rgb(0, 0, 100);

}

.container-img{
    height:  30vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.container-txt{
    height: 40vh;
    width: 20vw;
    display: flex;
   flex-direction: column;
   margin-top: 2.5rem;
   justify-content: top;
   align-items: center;
    text-align: center;
    color: #fff;
}

.img-card{
    height: 20vh;
    width: 20vh;
    border-radius: 90px;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

.toupeira-img{
    background-image: url(assets/cardToupeira.jpg);
    
}

.bisao-img{
    background-image: url(assets/AppaGiant.png);
}

.moon{
    background-image: url(assets/MoonSea.jpg);
}

.dragon{
    background-image: url(assets/DragonFire.webp);
}

.title-txt{
    font-size: 2rem;
    margin-bottom: 20px;
}

.txt-card{
    font-size: 1.5rem;
}


