* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Bebas Neue", sans-serif;

}

:root {
    --red: rgb(190, 0, 0);
}


.home {
    height: 100vh;
    width: 100vw;
   
}

.info-home {
   
    position: absolute;
    height: 20vh;
    width: 25vw;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(assets/logoAvatar.png);
    background-position: center;
    background-size: cover;

}


@keyframes changeColor {
    0% {
        color: rgb(255, 252, 252);
    }

    20% {
        color: black;
    }

    40% {
        color: rgb(255, 252, 252);
    }

    60% {
        color: rgb(0, 0, 0);
    }

    80% {
        color: rgb(255, 255, 255);
    }

    100% {
        color: rgb(0, 0, 0);
    }

}

.txt-home {
    text-align: center;
    font-size: 2rem;
}

nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 1.5s ease, backdrop-filter 0.3s ease;
    z-index: 2;
}

.scrolled {
    background-color: transparent;
    backdrop-filter: blur(3px);
}


nav .standard {
    text-decoration: none;
    text-align: center;
    line-height: 8vh;
    height: 8vh;
    width: 8vh;
    overflow-y: hidden;
    color: rgb(0, 0, 0);
    border-radius: 90px;
    background-size: cover;
    transition: 0.7s all;
}

nav a:hover {
    transform: scale(1.15);
}

.home-button {
    height: 10vh;
    width: 4vw;
    background-image: url(assets/lemo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.history-button {
    height: 5vh;
    width: 6.5vw;
    line-height: 5vh;
    background-color: beige;
    transition: 1s all;
}

.history-button:hover {
    background-color: black;
    color: bisque;
}

.fire-button {
    background-image: url(assets/EmblemaFireNation.webp);
    border-color: rgb(137, 135, 135);
}

.fire-button:hover {
    border: rgb(140, 2, 2) 3px solid;
}

.water-button {
    background-image: url(assets/emblemaWaterNation.png);
    border-color: rgb(137, 135, 135);
}

.water-button:hover {
    border: rgb(10, 13, 158) 3px solid;
}

.air-button {
    background-image: url(assets/emblemaAr.jpg);
    border-color: rgb(137, 135, 135);
}

.air-button:hover {
    border: rgb(0, 0, 0) 3px solid;
}

.earth-button {
    background-image: url(assets/emblemaEarthNation.jpg);
    border-color: rgb(137, 135, 135);
}

.earth-button:hover {
    border: rgb(17, 148, 0) 3px solid;
}

.aboutMe-button {
    height: 5vh;
    width: 6.5vw;
    line-height: 5vh;
    background-color: beige;
    transition: 1s all;
}

.aboutMe-button:hover {
    background-color: black;
    color: bisque;
}


.register-button {
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #000000;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    line-height: 2.5rem;
    text-decoration: none;
}

.register-button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.register-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(180deg,
            rgb(189, 1, 1) 10.8%,
            rgb(0, 0, 0) 94.3%);
    transition: all 0.475s;
}



.background-home {
    background-image: url(assets/dropAir.jpg);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}













.historia {
    padding: 2rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(assets/avatarWallpaper.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
}

.txt-historia {
    width: 50vw;
    border: 0.3rem solid rgb(194, 3, 3);
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0;
    border-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    animation: bordertxt infinite 5s;
    animation-direction: alternate;
}

@keyframes bordertxt {
    50% {
        border-color: #d10101;
    }

    100% {
        border-color: #000;
    }
}

.trailer-history {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.trailer {

    width: 45vw;
    height: 53vh;
    border: #d10101 solid 5px;
    box-shadow: 0.7rem 1.5rem 1.5rem 0.5rem black;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: bordertxt infinite 5s;
    animation-direction: alternate;
}



.show {
    opacity: 1;
    transform: translateY(0);
}

.lax {
    height: 45vh;
    width: 100vw;
    background-image: url(assets/fireLax.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}

.um {
    background-image: url(assets/avataresWallpaper.jpg);
}

.dois {
    background-image: url(assets/sunGrupoAvatar.jpeg);
}

.quatro {
    background-image: url(assets/download\ \(3\).jpg);
}








.fire {
    background-image: url(assets/zuko.jpg);
    background-position: left;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100vw;
   
    display: flex;
}

.txt-fire {
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.3rem solid rgb(194, 3, 3);
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0;
    border-top: 0;
}



.zuko-fire {
    height: 100vh;
    width: 50vw;
    background-image: url(assets/zukoSolo.jpg);
    background-size: cover;
    background-position: bottom;
}

.txt-fire h1 {
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
}

.txt-fire p {
    font-size: 1.7rem;
    color: #fff;
}



.button-agnikai {
    font-size: 1rem;
    padding: 0.6rem 1.8rem;
    border-radius: 0.7rem;
    color: #fff;
    background-image: linear-gradient(rgb(215, 0, 0), rgb(80, 0, 0));
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 0.3rem solid rgb(255, 255, 255);
    box-shadow: 0 0.7rem 1rem 0.2rem var(--red);
    text-decoration: none;
}

.go:focus {
    transform: translate(0, -3px);
    cursor: pointer;
    transition: 0.2s;
}

.go:active {
    transform: translate(0, 0);
    border-bottom: 2px solid rgb(148, 148, 148);
}






.air {
    background-image: url(assets/aangBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
    display: flex;
}

.aang-air {
    height: 100vh;
    width: 50vw;
    background-image: url(assets/aangSolo.jpg);
    background-size: cover;
    background-position: bottom;
}


.txt-air {
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.3rem solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0;
    border-top: 0;
    color: #fff;
}

.txt-air p {
    font-size: 1.7rem;
}

.button-air {
    font-size: 1rem;
    padding: 0.6rem 1.8rem;
    border-radius: 0.7rem;
    color: #fff;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(68, 66, 66));
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 0.3rem solid rgb(2, 2, 2);
    box-shadow: 0 0.7rem 1rem 0.2rem #fff;
    text-decoration: none;
}


.water {
    background-image: url(assets/kataraBackground.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

    display: flex;
}

.txt-water {
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.3rem solid rgb(40, 147, 235);
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0;
    border-top: 0;
}

.txt-water h1 {
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
}

.txt-water p {
    font-size: 1.7rem;
    color: #fff;
}




.katara-water {
    height: 100vh;
    width: 50vw;
    background-image: url(assets/kataraSolo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}







.button {
    background-color: #000;
    border: 0px;
    outline: 0px;
    color: #fff;
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.liquid {
    background-color: #2893eb;
    width: 14rem;
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: inset 5px -5px 25px #104e81,
        inset -5px 0px 25px #104e81;
}

.liquid::after {
    content: '';
    width: 450px;
    height: 400px;
    background: #000;
    z-index: 1;
    position: absolute;
    left: -110px;
    top: -380px;
    border-radius: 45%;
    animation: animate 5s linear 2s infinite;
}

.liquid::before {
    content: '';
    width: 450px;
    height: 400px;
    background-color: rgb(68, 160, 235);
    z-index: 1;
    position: absolute;
    left: -110px;
    top: -380px;
    border-radius: 40%;
    animation: animate 5s linear 1.8s infinite;
}

.btn-txt {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}





.earth {
    height: 100vh;
    width: 100vw;
    background-image: url(assets/tophBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}



.toph-earth {
    height: 100vh;
    width: 50vw;
    background-image: url(assets/tophSolo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}


.txt-earth {
    height: 100vh;
    width: 50vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.3rem solid rgb(8, 155, 0);
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0;
    border-top: 0;
    color: #fff;
}

.txt-earth p {
    font-size: 1.7rem;
}

.button-earth {
    font-size: 1rem;
    padding: 0.6rem 1.8rem;
    border-radius: 0.7rem;
    color: #fff;
    background-image: linear-gradient(rgb(0, 90, 0), rgb(0, 90, 0));
    border: 2px solid rgb(0, 255, 0);
    border-bottom: 0.3rem solid rgb(0, 255, 0);
    box-shadow: 0 0.7rem 1rem 0.2rem #008000;
    text-decoration: none;
}


.aboutMe {
    height: 100vh;
    width: 100vw;
    padding-left: 1rem;
    display: flex;
    background-color: #fff;
}



.white {
    color: white;
}

.red {
    color: var(--red);
}

.login-card{
    height: 30vh;
    width: 25vw;
    background-color: #000;
    border: 4px solid white;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.txt-card-login{
    height: 20vh;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.txt-card-login p{
    font-size: 1.5rem;

}


.txt-card-login span{
    width: 20vw;
    font-size: 1.3rem;
    
}

.button-card-login{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.alert:hover{
    color: #d10101;
}

.button-water{
    font-size: 1rem;
    padding: 0.6rem 1.8rem;
    border-radius: 0.7rem;
    color: #fff;
    background-image: linear-gradient(rgb(0, 0, 90), rgb(0, 0, 90));
    border: 2px solid rgb(0, 0, 230);
    border-bottom: 0.3rem solid rgb(0, 0, 230);
    box-shadow: 0 0.7rem 1rem 0.2rem #3801ff;
    text-decoration: none;
}

