* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Bebas Neue", sans-serif;

}

.home {
    height: 100vh;
    width: 100vw;
    background-color: rgba(53, 51, 51, 0.4);
}

.info-home {
    color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.title-home {
    text-align: center;
    font-size: 5rem;
}

.txt-home {
    text-align: center;
    font-size: 2rem;
}

nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    background-color: black;
    transition: background-color 1.5s ease, backdrop-filter 0.3s ease;
    z-index: 2;
}

.scrolled {
    background-color: transparent;
    backdrop-filter: blur(3px);
}


nav a {
    text-decoration: none;
    text-align: center;
    line-height: 4rem;
    height: 8vh;
    width: 8vh;
    overflow-y: hidden;
    color: rgb(0, 0, 0);
    border-radius: 90px;
    background-size: cover;
    transition: 0.7s all;
}

a:hover {
    transform: scale(1.15);
}

.home-button {
    height: 10vh;
    width: 4vw;
    background-image: url(lemo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.history-button {
    height: 5vh;
    width: 6.5vw;
    line-height: 5vh;
    background-color: beige;
    transition: 1s all;
}

.history-button:hover {
    background-color: black;
    color: bisque;
}

.fire-button {
    background-image: url(EmblemaFireNation.webp);
    border-color: rgb(137, 135, 135);
}

.fire-button:hover {
    border: rgb(140, 2, 2) 3px solid;
}

.water-button {
    background-image: url(emblemaWaterNation.png);
    border-color: rgb(137, 135, 135);
}

.water-button:hover {
    border: rgb(10, 13, 158) 3px solid;
}

.air-button {
    background-image: url(emblemaAr.jpg);
    border-color: rgb(137, 135, 135);
}

.air-button:hover {
    border: rgb(0, 0, 0) 3px solid;
}

.earth-button {
    background-image: url(emblemaEarthNation.jpg);
    border-color: rgb(137, 135, 135);
}

.earth-button:hover {
    border: rgb(17, 148, 0) 3px solid;
}

.aboutMe-button {
    height: 5vh;
    width: 6.5vw;
    line-height: 5vh;
    background-color: beige;
    transition: 1s all;
}

.aboutMe-button:hover {
    background-color: black;
    color: bisque;
}



.background-home {
    background-image: url(dropAir.jpg);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}













.historia {
    padding: 2rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(avatarWallpaper.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
}

.txt-historia {
    width: 50vw;
    border: 0.3rem solid rgb(194, 3, 3);
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0;
    border-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.trailer-history {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.trailer {
    margin-left: 2rem;
    width: 45vw;
    height: 53vh;
    border: #d10101 solid 5px;
    box-shadow: 1.3rem 1rem 1rem 0.5rem black;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.show {
    opacity: 1;
    transform: translateY(0);
}

.lax {
    height: 45vh;
    width: 100vw;
    background-image: url(irohAndZuko.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}

.um {
    background-image: url(avataresWallpaper.jpg);
}

.dois {
    background-image: url(sunGrupoAvatar.jpeg);
}

.fire {
    background-image: url(zuko.jpg);
    background-position: left;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100vw;
    padding-left: 1rem;
    display: flex;
}

.txt-fire {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.zuko-fire {
    height: 100vh;
    width: 50vw;
    background-image: url(zukoSolo.jpg);
    background-size: cover;
    background-position: bottom;
}

.txt-fire h1 {
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
}

.txt-fire p {
    font-size: 1.5rem;
}

.button-entrar {
    height: 5vh;
    width: 6vw;
    line-height: 5vh;
    background-color: #d10101;
    color: aliceblue;
}




.air {
    background-image: url(aangBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt-air {
    height: 100vh;
    width: 50vw;
}





.water {
    height: 100vh;
    width: 100vw;
    background-image: url(kataraBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





.earth {
    height: 100vh;
    width: 100vw;
    background-image: url(tophBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white {
    color: white;
}

.red {
    color: #d10101;
}