* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.videoBackground {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.toptext {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-size: 3.5rem;
    color: white;

    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.exit {
    text-align: center;
    width: 3rem;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    text-decoration: none;

}

.exit:hover {
    color: #000;
    background-color: #fff;
}


.fighters-choice {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    transition: 3s ease;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

#fighterone {
    margin-left: 3rem;
}

#fightertwo {
    margin-right: 3rem;
}


.choice {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.character {
    box-sizing: border-box;
    width: 19rem;
    height: 27rem;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: 9rem;
    background-position: center;
    background-size: cover;

}



.character:active {
    transform: scale(0.7) rotateZ(1.9deg);
}

.character-txt {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    transition: 0.6s ease;
}

.character:hover .character-txt {
    color: #000;
    text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}



.character:hover {
    border: 1px solid black;
    transform: scale(1.15);
    color: #000;
    text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}

.zuko {
    background-image: url(../assets/zukoFire.jpg);
    background-position: center;
    background-size: cover;
}

.ozai {
    background-image: url(../assets/Ozai.jpg);
    background-position: center;
    background-size: cover;
}

.azula {
    background-image: url(../assets/azulaFire.jpeg);
    background-position: center;
    background-size: cover;
}

.iroh {
    background-image: url(../assets/Iroh.jpg);
}



.overlay01 {
    position: absolute;
    background-color: black;
    width: 50%;
    height: 100vh;
    opacity: 0.3;
    left: 0;
    top: 0;
}

.overlay02 {
    position: absolute;
    background-color: black;
    width: 50%;
    height: 100vh;
    opacity: 0.3;
    right: 0;
    top: 0;
}

.overlay03 {
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
}

.character01 {
    position: absolute;
    background-image: url(../assets/zukoFire.jpg);
    width: 50vw;
    height: 100vh;
    background-size: cover;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character02 {
    position: absolute;
    background-image: url(../assets/zukoFire.jpg);
    width: 50vw;
    height: 100vh;
    background-size: cover;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.player-click {
    height: 15vh;
    width: 15vh;
    line-height: 15vh;
    text-align: center;
    background-image: url(../assets/fireBall.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 180px;
    color: #fff;
}

.player-click:active {
    transform: scale(0.8);
}

.cpu-click {
    height: 15vh;
    width: 15vh;
    line-height: 15vh;
    text-align: center;
    background-image: url(../assets/fireBall.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 180px;
    color: #fff;
    animation: cpuClick 0.11s infinite;

}

.atack {
    color: #fff;
    height: 15vh;
    width: 15vh;
    font-size: 1.5rem;
    text-align: center;

}

@keyframes cpuClick {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }
}

.start-game {
    top: 50%;
    left: 50%;
    height: 5vh;
    width: 7vw;
    line-height: 5vh;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #fff;
    color: rgb(110, 0, 0);
    border: 2px solid rgb(110, 0, 0);
    z-index: 1
}

.start-game:hover {
    background-color: rgb(110, 0, 0);
    color: #fff;
}

.timer {
    top: 20%;
    left: 50%;
    height: 8vh;
    width: 20vw;
    line-height: 8vh;
    font-size: 2.5rem;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
    z-index: 1
}


.result {
    font-size: 5rem;
    color: #fff;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}