body,
html {
    height: 100%;
    margin: 0;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    background-image: url(../assets/tophfund.jpg);
    background-size: cover;
    background-position: center;
    color: black;

}

.exit-button {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    padding: 0 2rem;
    border-radius: 1rem;
    text-decoration: none;
}

.exit-button:hover {
    background-color: #fff;
    color: #000;
}

.content-txt {
    text-align: center;
    position: absolute;
    font-family: "Nabla", system-ui;
}

.title-start {

    font-size: 5.5rem;

}

.txt-start {

    font-size: 4rem;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent, transparent, transparent, rgba(0, 0, 0, 1));


}

.game {
    height: 100%;
    background: linear-gradient(to right,#2c5f2d, #4d7f4e, #78c355, #8dd26c, #a3e083, #b9e79b);
    animation: changeColor 10s linear infinite alternate;
    display: flex;
}



#choice1 {

    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#choice2 {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {

    display: none;
    background-image: url(../assets/toupeiras-texugo.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 45vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: top 1rem;
    transition: 0.5s ease;
    font-size: 5rem;
    color: #13d502;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.btn:hover {
    transform: scale(1.1);
}

#scoreboard {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 11vh;
    width: 15vw;
    line-height: 11vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    background-color: white;
    border: 3px solid rgb(0, 67, 0);
    border-radius: 0.5rem;
}

#msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    text-align: center;
    color: #fff;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}