@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}





a {
    color: #ffffff;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.menu {
    left: 0;
    position: fixed;
    width: 20vw;
    height: 100vh;
    background: linear-gradient(
    to bottom,
    rgb(200, 0, 0),
    rgb(70, 70, 70),
    rgb(0, 0, 200),
    rgb(0,200, 0)
);
    border-right: #000 5px solid;

}

.user {
    height: 40vh;
    width: 20vw;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: #000 5px solid;

}

.photo {
    margin-top: 2rem;
    height: 25vh;
    width: 25vh;
    background-image: url(../assets/perfilIcon.png);
    background-position: center;
    background-size: cover;
    border-radius: 360px;
    border: 5px solid black;
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 10vh;
    padding: 2vh;
    gap: 0.5rem;
    font-size: 1.2rem;
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.pagSelected {
    color: #000000;
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}


.miniAang {
    position: absolute;
    margin-left: 2rem;
    left: 0;
    height: 5vh;
    width: 5vh;
    background-image: url(../assets/miniAang.webp);
    background-size: cover;

}



.btn-user {
    color: #fff;
    text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    width: 20vw;
}

.button-data {
    height: 10vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1vw;
    font-size: 1.5rem;

}

.button-style {
    height: 10vh;
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1vw;
    font-size: 1.5rem;

}

.button-exit {
    height: 10vh;
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1vw;
    font-size: 1.5rem;

}

.userBtn:hover {

    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}



/* Personalizar */

.personal-content {
    margin-left: 20vw;
    width: 80vw;
    height: 100vh;
    display: flex;
}


.personal {
    width: 80vw;
    height: 100vh;
    display: flex;
    background: url(../assets/dropAir.jpg);
    background-position: center;
    background-size: cover;
}

.btn-personal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.btn-card {
    height: 30vh;
    width: 30vw;
    background-image: url(../assets/grupoAvatarNew.webp);
    background-position: center;
    background-size: cover;
    font-family: "Honk", system-ui;
    font-weight: bold;
    border-radius: 3rem;
    line-height: 30vh;
    text-align: center;
    font-size: 3rem;
    border: 4px solid #fff;
    transition: 0.5s;
}

.btn-card:hover {
    filter: brightness(0.8);
    transform: scale(0.9);
    cursor: pointer;
}

.content-name {
    width: 80vw;
    height: 100vh;
    background-color: #f2e7e7;
    display: none;
    justify-content: center;
    align-items: top;
}

.trade-name {
    width: 40vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2e7e7;
    gap: 3rem;
}

.over {
    width: 40vw;
    height: 100vh;

    background-image: url(../assets/aangDesperto.jpg);
    background-position: left;
    background-size: cover;


    border-right: 5px solid rgb(255, 140, 0);
}

.nameBox {
    display: flex;
    height: 20vh;
    width: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.inputForm {
    display: flex;
    height: 15vh;
    width: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




.inputForm input {
    width: 25rem;
    border: 0;
    border-bottom: 1px solid var(--red);
    background: linear-gradient(to bottom, rgba(255, 255, 255), rgba(255, 255, 255), rgba(255, 140, 0));
    height: 2rem;
    color: #000000;
    font-size: 1.3rem;
    text-align: center;
}

.inputForm input:focus {
    outline: none;
    background: linear-gradient(to top, rgba(255, 255, 255), rgba(255, 255, 255), rgba(255, 140, 0));
    border-bottom: 2px solid rgb(255, 255, 255);
}


.dobraBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
}

.question {
    font-size: 1.8rem;
}


.dobraForm {
    display: flex;
    font-size: 1.4rem;
    gap: 0.2rem;
   
    align-items: center;
}




.radioDobra {
    appearance: none !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    border: 2px solid #000000 !important;
    outline: none !important;
    background-color: #fff5f5 !important;
    cursor: pointer !important;
    margin-right: 5px !important;
}

.radioFire:checked {
    background-color: red !important;
}

.radioWater:checked {
    background-color: blue !important;
}

.radioEarth:checked {
    background-color: green !important;
}

.radioAir:checked {
    background-color: grey !important;
}

.btn_dobra {
    background: rgb(255, 140, 0);
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
}

.btn_span {
    display: inline-block;
    transform: skew(21deg);
}

.btn_dobra::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.btn_dobra:hover {
    color: #fff;
}

.btn_dobra:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}




.first-wall .inputForm input {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.inputForm span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
}





.content-picture {
    width: 80vw;
    height: 100vh;
    background: url(../assets/dropAir.jpg);
    background-position: center;
    background-size: cover;
    display: none;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.msg-picture {
    padding: 0.5rem;
    border-radius: 3rem;
    font-size: 2.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.pictures {
    margin-top: 15vh;
    height: 40vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.picture {
    height: 25vh;
    width: 25vh;
    border: 2px solid black;
    border-radius: 360px;
    background-position: center;
    background-size: cover;
}

.aang-picture {
    background-image: url(../assets/aangIcon.jpg);
}

.katara-picture {
    background-image: url(../assets/kataraIcon.jpg);
}

.sokka-picture {
    background-image: url(../assets/sokkaPerfilIcon.jpg);
}

.toph-picture {
    background-image: url(../assets/TophIcon.jpg)
}

.zuko-picture {
    background-image: url(../assets/zukoIcon.jpg)
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25vh;
    height: 25vh;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

/* Estiliza o input quando está selecionado */
input[type="radio"]:checked {
    border: 3px solid red;
}

#bottonAvatar {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: rgb(137, 3, 3);
    border: #000 solid 2px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

#bottonAvatar:hover {
    box-shadow: 7px 5px 56px -14px #d90000;
    background: #fff;
    color: #000;
}

#bottonAvatar:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #ff0101;
}



.exit-content {
    height: 20vh;
    width: 80vw;
    display: flex;
    justify-content: right;

}

.exit-personal {
    background-image: url(../assets/cancelICon.svg);
    height: 10vh;
    width: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 0;

}

.exit-content_2 {
    height: 20vh;
    width: 40vw;
    display: flex;
    justify-content: right;
    align-items: top;

}

.exit-personal_2 {
    background-image: url(../assets/cancelICon.svg);
    height: 10vh;
    width: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: 0;


}

.back:hover {
    transform: scale(0.8);
    cursor: pointer;
}

.login-card {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 25vw;
    background-color: #000;
    border: 4px solid white;
    border-radius: 3rem;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 999;
}

.txt-card-login {
    height: 20vh;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.txt-card-login p {
    font-size: 1.5rem;
}


.txt-card-login span {
    width: 20vw;
    font-size: 1.3rem;

}

.button-card-login {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.alert:hover {
    color: #d10101;
}